<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polaroid Cloud</title>
    <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
    <header>
        <section>
            <h1>Polaroid Cloud</h1>
        </section>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
</body>
</html>
