@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");

body {
    font-family: 'Inter', sans-serif;
    color: #333;
    background: #e9e9e9;
    text-align: center;
    margin: 0;
    padding: 0;
}

header h1 {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 20px; 
    text-align: left; 
    color: #424242;
}

.hero {
    position: relative;
    text-align: center;
    padding-top: 50px; 
}

.hero h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 3rem;
    z-index: 10;
    
    padding: 10px;
}

.image-container {
    position: relative;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
}


.details {
    padding: 40px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
}

.details h3 {
    font-size: 1.5em;
    font-weight: 900;
    color: #424242;
}

.details p {
    font-size: 1em;
    color: #424242;
    line-height: 1.6;
}

.details ul {
    list-style: none;
    padding: 0;
}

.details ul li {
    font-size: 1em;
    margin: 10px 0;
}

.cta {
    padding: 40px;
    border-radius: 0px;
    margin: 20px auto;
    width: 80%;
}

.cta h3 {
    font-size: 1.5em;
    font-weight: 900;
    color: #424242;
}

.cta form-container {
    background: #757575; 
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.cta form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.cta input[type="email"] {
    padding: 15px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 0px;
    font-size: 1em;
    outline: none;
}

.cta button {
    padding: 15px 20px;
    background: #FF3B30;
    color: #ffffff;
    font-size: 1em;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: 0.3s;
}

.cta button:hover {
    background: #E02E24;
}
