@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");

body {
    font-family: 'Inter', sans-serif;
    color: #333;
    background: #F5F5F5;
    text-align: center;
    margin: 0;
    padding: 0;
}

header h1 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px;
    align-items: left;
    color: #424242;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
}

.hero-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.hero h2 {
    font-size: 2.5em;
    font-weight: 900;
    color: #424242;
}

.details {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.details h3 {
    font-size: 1.5em;
    font-weight: 900;
    color: #424242;
}

.details p {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
}

.details ul {
    list-style: none;
    padding: 0;
}

.details ul li {
    font-size: 1em;
    margin: 10px 0;
}

.cta {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.cta h3 {
    font-size: 1.5em;
    font-weight: 900;
    color: #424242;
}

.cta form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.cta input[type="email"] {
    padding: 15px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 1em;
    outline: none;
}

.cta button {
    padding: 15px 20px;
    background: #FF3B30;
    color: #fff;
    font-size: 1em;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.cta button:hover {
    background: #E02E24;
}
